	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/08/2018 10:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-phone-call:before { content: "\f100"; }
.flaticon-mail:before { content: "\f101"; }
.flaticon-add-user:before { content: "\f102"; }
.flaticon-login:before { content: "\f103"; }
.flaticon-sun-umbrella:before { content: "\f104"; }
.flaticon-diamond:before { content: "\f105"; }
.flaticon-time:before { content: "\f106"; }
.flaticon-bicycle:before { content: "\f107"; }
.flaticon-sailboat:before { content: "\f108"; }
.flaticon-wolf:before { content: "\f109"; }
.flaticon-family:before { content: "\f10a"; }
.flaticon-man-in-hike:before { content: "\f10b"; }
.flaticon-right-arrow:before { content: "\f10c"; }
.flaticon-maps-and-flags:before { content: "\f10d"; }
.flaticon-calendar:before { content: "\f10e"; }
.flaticon-box:before { content: "\f10f"; }
.flaticon-compass:before { content: "\f110"; }